body {
    background-color: lightblue;
}

h1 {
    color: navy;
    font-size: 300%;
    text-align: center;
    font-family: "Arial", "Times New Roman", Times, serif;
}

h2 {
    color: indigo;
    text-align: center;
    font-family: "Arial", "Times New Roman", Times, serif;
}

p {
    color: black;
    font-family: "Arial", "Times New Roman", Times, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: "Arial", "Times New Roman", Times, serif;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
#pic1 {
    position: absolute;
    bottom: 10%;
    right: 2%;
    width: 50%;
    
}
